[submodule "bd-res-signup-scto-plugin"]
	path = bd-res-signup-scto-plugin
	url = https://github.com/NooraHealth/bd-res-signup-scto-plugin.git
[submodule "fd-ticket-scto-plugin"]
	path = fd-ticket-scto-plugin
	url = https://github.com/NooraHealth/fd-ticket-scto-plugin.git
[submodule "wa-nudge-scto-plugin"]
	path = wa-nudge-scto-plugin
	url = https://github.com/NooraHealth/wa-nudge-scto-plugin.git
[submodule "ind-res-signup-scto-plugin"]
	path = ind-res-signup-scto-plugin
	url = https://github.com/NooraHealth/ind-res-signup-scto-plugin.git
